html {
    font-size: 14px;
}

.nav {
    background-color: #b34848;
}

.blog-masthead {
    background-color: #b34848;
}

h1, h2, h3, h4, h5, h6 {
    color: #b34848;
}

.blog-post-title:hover {
    text-decoration: underline;
}

#komentar {
    border: transparent;
    font-family: "Lucida Console", "Courier New", monospace;
    font-weight: bolder;
    color: rgb(41, 41, 41);
    background-color: rgb(243, 243, 243);
}