html {
    font-size: 14px;
}

.nav {
    background-color: #b34848;
}

.blog-masthead {
    background-color: #b34848;
}

h1, h2, h3, h4, h5, h6 {
    color: #b34848;
}

.blog-post-title:hover {
    text-decoration: underline;
}

#komentar {
    border: transparent;
    font-family: "Lucida Console", "Courier New", monospace;
    font-weight: bolder;
    color: rgb(41, 41, 41);
    background-color: rgb(243, 243, 243);
}

#zero-comments {
    color:rgb(41, 41, 41);
    text-align: center;
    background-color: rgb(243, 243, 243);
    width: 40%;
    margin: auto;
    padding: 10px;
}

.input {
    width: 100%;
    background-color: rgb(243, 243, 243);
    color: rgb(41, 41, 41);
    padding: 14px 20px;
    margin: 8px 0;
    border: none;   
    border-radius: 4px;
}

.button {
    background-color: #b34848;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 18px;
  }